* {
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0;
  height: 100vh;
  flex-direction: column;
}

header,
footer {
  background-color: darkolivegreen;
}

header {
  min-height: 15vh;
}
footer {
  min-height: 10vh;
}

main {
  background-color: gray;
  flex: 1;
  max-height: 75vh;
}

article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 100%;
  /*подумать*/
  overflow-y: scroll;
}
.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  /*подумать*/
  max-height: 75vh;
}
.section-wrapper {
  width: 80%;
  border-radius: 5px;
  background-color: green;
  margin: 1em;
  padding: 1em;
}
