.body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(30, 31, 29, 1) 0%,
    rgba(26, 28, 24, 1) 50%,
    rgba(1, 1, 1, 1) 50%
  );
  margin: auto 0;
}

.main-wrapper {
  margin: 0 auto;
  max-width: $desktop-max-width;
  padding-left: 208px;
  padding-right: 153px;
}

.title_main {
  font-family: $base-font;
  letter-spacing: 0;
  font-size: 50px;
  text-align: center;
  line-height: 130%;
  font-weight: 800;
  color: #fefefe;
}
